<form  class="">
    
    <h1>Eliminar LIvro</h1>

    <mat-form-field class="form ">
        <mat-label >TÍtulo</mat-label>
        <input  matInput  disabled [(ngModel)]="Livro.titulo" type="text" name="titulo"  maxlength="100" placeholder="Livro do Spring Boot com Anngular 10">
       
    </mat-form-field>

    <mat-form-field class="form ">
        <mat-label >NOME DO AUTOR</mat-label>
        <input  matInput    disabled  type="text" [(ngModel)]="Livro.nome_autor" name="nome" placeholder="ex. Nicolas">
        
    </mat-form-field>
    <mat-form-field class="form ">
        <mat-label >TEXTO</mat-label>
        <input  matInput disabled   [(ngModel)]="Livro.texto" type="text" name="nome" placeholder="ex. a vida ,,,">
        
    </mat-form-field>
    <div class="buttons">
        <button [disabled]=""  (click)="Eliminar()" class="mat-elevation-z8"  mat-stroked-button color="primary">Eliminar</button>
        <button (click)="cancelar()"  class="mat-elevation-z8" mat-stroked-button color="primary">CANCELAR</button>

    </div>
</form>

