<form  class="">
    <h1>Criando Categoria</h1>

    <mat-form-field class="form ">
        <mat-label >Nome</mat-label>
        <input  matInput [(ngModel)]="categoria.nome" type="text" name="nome" placeholder="ex. comp">
    </mat-form-field>
    <mat-form-field class="form MatFormFieldControl">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="categoria.descricao" type="text" name="descricao" placeholder="Ex.. livros de Computação"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">CRIAR</button>
        <button (click)="navegarParaLista()"  class="mat-elevation-z8" mat-stroked-button color="primary">CANCELAR</button>

    </div>
</form>
